<div class="mood-container bad-mood">
  <h2>Support When You Need It</h2>
  <div class="content">
    <h3>Nearby Hospitals</h3>
    <ul>
      <li>City Mental Health Center - <a href="https://www.justdial.com/Trivandrum/Psychiatrists/nct-10393442?trkid=12797-remotecity&term=Psychiatrists" target="_blank">Call Now</a></li>
      <li>Wellness Hospital - <a href="tel:+987654321">Call Now</a></li>
    </ul>
    <h3>Encouraging Quotes</h3>
    <blockquote>"Tough times never last, but tough people do."</blockquote>
    <blockquote>"You are not alone. You are stronger than you think."</blockquote>
    <h3>Helpful Resources</h3>
    <ul>
      <li><a href="https://dghs.mohfw.gov.in/national-mental-health-programme.php" target="_blank">MentalHealth.gov</a></li>
      <!-- <li><a href="https://www.samhsa.gov/find-help/national-helpline" target="_blank">SAMHSA Helpline</a></li> -->
    </ul>
  </div>
</div>
