<div class="mood-container average-mood">
    <h2>Feeling Okay? Let’s Improve Your Mood!</h2>
    <div class="content">
      <h3>Recommended Videos</h3>
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=ZToicYcHIOU" target="_blank">10-Minute Guided Meditation</a>
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=mgmVOuLgFB0" target="_blank">Motivational Talk: "The Secret to Success"</a>
        </li>
      </ul>
      <h3>Articles to Explore</h3>
      <ul>
        <li><a href="https://www.wikihow.health/Get-Out-of-a-Slump" target="_blank">How to Overcome a Midday Slump</a></li>
        <li><a href="https://www.powerofpositivity.com/psychologists-advice-10-activities-to-boost-mood-10-mins-or-less/" target="_blank">Simple Exercises to Improve Your Mood</a></li>
      </ul>
    </div>
  </div>
  